torch
torchvision
lightning
pytorchvideo
accelerate
einops
kornia
matplotlib
tqdm
safetensors
transformers
diffusers
datasets
timm
rich
tensorboard
av
omegaconf
hydra-core
colorama
scikit-learn
opencv-python
numpy==1.24.3  # Pin to a compatible version
huggingface_hub>=0.16.4
psutil